.ToDoLists{
  // font-family: 'Helvetica Neue';
  font-size: 24px;
  .icon-check{
    width: 35px;
    height: 35px;
    cursor: pointer;
  }
  .icon-close{
    cursor: pointer;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    pointer-events: none;
    transition: all ease-in-out 0.3s;
    &.open{
      opacity: 1;
      pointer-events: all;
    }
  }
  ul{
    padding-left: 0;
    li{
      word-break: break-all;
        padding: 15px 15px 15px 15px;
        display: block;
        line-height: 1.2;
        transition: color 0.4s;
        position: relative;
      &.done{
       
        span{
          text-decoration: line-through;
          opacity: 0.5;
        }
      }
      span{
        margin-left: 10px;
      }
    }
  }
}