.traffic-light{
  display: flex;
  flex-direction: column;
  .blub{
    width: 64px;
    height: 64px;
    border-radius: 100px;
    margin: 10px;
    opacity: 0.2;
    &.red{
      background: red;
    }
    &.green{
      background: green;
    }
    &.orange{
      background: orange;
    }
    &.active{
      opacity: 1;
    }
  }
}