.ToDoLists{
  h1{
    width: 100%;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
  }
  input{
    padding: 16px 16px 16px 15px;
    border: none;
    background: rgba(0, 0, 0, 0.003);
    // box-shadow: inset 0 -2px 1px rgb(0 0 0 / 3%);
    width: 100%;
    &:focus {
      outline-offset: 0px;
      outline: none;
    }
  }
  .list-todo{
    background: #fff;
    margin: 20px auto 40px;
    position: relative;
    // box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
    width: 550px;
    transition: all ease-in-out 0.3s;
    ul{
      li{
        
      }
    }
    &:before{
      position: absolute;
      right: 10px;
      bottom: -10px;
      width: calc(100% - 20px);
      height: 100%;
      background: #fff;
      content: "";
      z-index: -2;
      // box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
      transition: all ease-in-out 0.3s;
    }
    &:after{
      position: absolute;
      right: 5px;
      bottom: -5px;
      width: calc(100% - 10px);
      height: 100%;
      background: #fff;
      content: "";
      z-index: -1;
      // box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
      transition: all ease-in-out 0.3s;
    }
    &:hover{
      &:before{
        bottom: -40px;
        // right: -20px;
      }
      &:after{
        bottom: -20px;
        // right: -10px;
      }
    }
  }

}