.form-search {
    background: rgba(83, 117, 231, 0.5);
    background-position: center center;
    width: 100%;
    height: auto;
    min-height: 70px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 3px 3px 9px #000;
    margin-bottom: 50px;
    label{
      font-weight: 600;
    }
    input{
     
    }
}