.Header{
  margin-bottom: 20px;
  .navbar {
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar-brand{
    color: blue;
    font-weight: bold;
  }
  .nav-item{
    list-style-type: none;
    a {
      text-decoration: none;
      color: rgba(0,0,0,.5) !important;
      padding-right: .5rem;
      padding-left: .5rem;
    }
    &.nav-cart{
      text-align: right;
    }
  }
  .dropdown{
    cursor: pointer;
    a{
      padding-top: 0;
      padding-bottom: 0;
      color: rgba(0, 0, 0, 0.5) !important;
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
    .dropdown-menu{
      a{
        padding-top: 7px;
        padding-bottom: 7px;
      }
    }
  }
}
