.form-add{
  padding:10px 20px;
  border:1px solid #000;
  margin: 30px 0;
  h2{
    font-size: 20px;
    margin-bottom:10px
  }
  input{
    display:block;
    margin:20px auto;
  }
  button{
    display:block;
    margin: auto;
  }
}