.docs{
  list-style-type: none;
  border: 1px solid #ccc;
  border-radius:10px;
  padding: 15px 25px;
  box-shadow: 3px 3px 9px #000;
  margin-bottom: 50px;
  a{
    font-weight: bold;
    font-size: 25px;
  }
}
@media (min-width: 768px){
.navbar-expand-md .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
}
}
.mr-auto, .mx-auto {
    margin-right: auto !important;
}